@model Celebration_Of_Capitalism___The_Finale.Models.FavouriteProduct

@{
    ViewData["Title"] = "Details";
    Layout = "_UserLayout";
}

<h1>Details</h1>

<div>
    <h4>FavouriteProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
