@model IEnumerable<Celebration_Of_Capitalism___The_Finale.Models.FavouriteProduct>

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Favorites";
    Layout = "_UserLayout";
}

@if (HttpContextAccessor.HttpContext.Session.Keys.Contains("userID"))
{
    <h1>Favorites</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.Product.ImageURL" width="100" height="100" />
                    </td>
                    <td>
                        @item.Product.Name
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.ProductId">More...</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Remove from Favorites</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    Layout = "_Layout";
    <div>
        PERISH, CRIMINAL SCUM, GET HIT BY THE 403.
    </div>
}
