@{
    ViewData["Title"] = "MainPage";
}

<h1>Welcome to the Payment And Billings Page!</h1>
<h2>What are you interested in?</h2>

<div>
    <a asp-controller="PaymentsAndBillings" asp-action="BankAccountsList">See Bank Account Details</a>
    <a asp-controller="PaymentsAndBillings" asp-action="Index">See possible products to buy</a>
</div>
