@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h2>This is react below</h2>
<div id="sample"></div>
<h2>This is a different component</h2>
<div id="test"></div>
<h2>This is the react App.tsx below</h2>
<div id="root"></div>

 

@section scripts {
    <script src="~/js/bundle.js"></script>
}
