@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Application</h1>
    </div>

 
<div class="d-flex justify-content-center align-items-center mt-4">
    <p class="mb-0 me-3">To see what others are saying about our products and services, check out the reviews:</p>
    <a href="/ReviewClasses" class="btn btn-primary">Reviews</a>
</div>

<div class="d-flex justify-content-center align-items-center mt-4">
    <p class="mb-0 me-3">For detailed export requests, please visit the export requests page:    </p>
    <a href="/ExportRequests" class="btn btn-primary">Export Requests</a>
</div>

<div class="d-flex justify-content-center align-items-center mt-4">
    <p class="mb-0 me-3">For billing details, please visit the billing windows page:    </p>
    <a href="/MainPage" class="btn btn-primary">Payments and Billings</a>
</div>
@section scripts {
    <script src="~/js/bundle.js"></script>
}
