@{
    ViewData["Title"] = "AdminMainPage";
}

<h1>Welcome to Admin mode!</h1>
<h3>Provide answers for questions asked by clients!</h3>
<hr />
<div>
        <p style="font-size: 1.5em; margin-bottom: 20px;">What is the return policy?</p>
        <p style="font-size: 1.5em; margin-bottom: 20px;">How do I reset my password?</p>
        <p style="font-size: 1.5em; margin-bottom: 20px;">Where are you located?</p>
        <p style="font-size: 1.5em; margin-bottom: 20px;">What payment methods do you accept?</p>
        <p style="font-size: 1.5em; margin-bottom: 20px;">How can I track my order?</p>
        <p style="font-size: 1.5em; margin-bottom: 20px;">Do you offer gift wrapping?</p>
        <p style="font-size: 1.5em; margin-bottom: 20px;">What are your business hours?</p>
        <p style="font-size: 1.5em; margin-bottom: 20px;">Can I change my shipping address?</p>
</div>