@model ISS_Frontend.Entity.ReviewClass

@{
    ViewData["Title"] = "Submit Review";
}

<h1>Submit Review</h1>

<form asp-action="SubmitReview" method="post">
    <div class="form-group">
        <label asp-for="User">User</label>
        <input asp-for="User" class="form-control" />
        <span asp-validation-for="User" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Review">Review</label>
        <textarea asp-for="Review" class="form-control"></textarea>
        <span asp-validation-for="Review" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send feedbackk</button>
</form>